<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @feedback %></p>

    <hr />
    <p>Sender&apos;s Details</p>
    Name: <b><%= @author_name %></b><br />
    Email: <b><%= @author_email %></b><br />
  </body>
</html>